body{
    background-color:azure;
}

#l{
    display: inline-block;
    background: gold ;
    color: black;
    padding: 8px 30px;
    margin: 30px 0px;
    border-radius: 40px;
    transition: background-color 0.5s;
    box-shadow: 0 0 5px red, 0 0 25px red;
}
#l:hover{
    box-shadow: 0 0 5px red, 
    0 0 25px cyan, 0 0 50px red ,
    0 0 100px cyan, 0 0 200px cyan;
    background: #ffff;
}

.header{
    background-color: #360707;
    text-align: right;
    padding: 10px;

}
   
.container{
    overflow: auto;
    background-color:white;
}
.nav li {
    float:right;
    display:inline-block;
    color: #f2f2f2;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;    
}

nav li:hover {
    background-color:rgb(51, 140, 218);
    color: rgb(50, 35, 136);
}
a:link{
        color:aqua
}

a:visited{
    color: red;   
}
a:hover{
    color: blue;
}
a:active{
    color: brown;
}

.content{
    text-align:center;
}
#w{
     left:50%;
}

.footer{
    background-color: #360707;
    
}
.footer li{
    display: inline-block;
    background: gold ;
    color: black;
    padding: 10px 30px;
    margin: 10px 0px;
    border-radius: 40px;
    transition: background-color 0.5s;
    box-shadow: 0 0 5px red, 0 0 25px red;
}
.footer li:hover{
    box-shadow: 0 0 5px red, 
    0 0 25px cyan, 0 0 50px red ,
    0 0 100px cyan, 0 0 200px cyan;
    background: #ffff;
}